.course {
  padding: 40px 0;
  &__title {
    text-align: center;
    margin: 0;
    max-width: 100%;
  }
  &__subtitle {
    text-align: center;
  }
  &__wrapper {
    margin-top: 54px;
    position: relative;
  }
  &__slider {
    &-btn {
      &_left {
        left: -16px;
      }
      &_right {
        right: -16px;
      }
    }
  }
  &__item {
    width: 265px !important;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .course {
    padding-top: 35px;

    &__wrapper {
      margin-top: 28px;
    }
    &__item {
      width: 270px !important;
    }
  }
}
@media (min-width: 1440px) {
  .course {
    padding-top: 70px;
  }
}
