.conference {
  padding-top: 40px;
  padding-bottom: 60px;
  &__title {
    margin-left: -8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
    letter-spacing: 0.4em;
    color: #f6f2e9;
  }
  &__wrap {
    margin-top: 41px;
  }
  &__numbers {
    margin-right: 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    &_blue {
      color: var(--light-blue);
    }
    &_yellow {
      color: #f0c41b;
    }
    &_red {
      color: #fe5f60;
    }
  }
  &__days {
    margin-right: 43.33px;
  }
  &__hours {
    margin-right: 54.33px;
  }
  &__text {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
    color: var(--gray);
  }
  &__content {
    padding: 224px 24px 0 24px;
    margin-top: 25px;
    width: 100%;
    height: 380px;
    background: url("../../img/course/itemBack/first.jpg") center center/ cover
      no-repeat;
    border-radius: 8px;
  }
  &__overlay {
    padding: 24px 16px 40px 16px;
    max-width: 280px;
    max-height: 156px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  &__name {
    padding: 0 12px;  
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    text-overflow: ellipsis;
  }
  &__btn {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
  }
}
