.customer {
  padding: 40px 0 100.34px 0;
  position: relative;
  overflow: hidden;
  &__wrapper {
    position: relative;
  }
  &__img,
  &__square {
    width: 273.03px;
    height: 273.03px;
    border-radius: 24px;
  }

  &__img {
    transform: translate(53.97px, 46.03px);
    background: url("../../img/customer/people.jpg") center center/ cover
      no-repeat;
    z-index: 1;
  }
  &__square {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #637af2;
    z-index: -1;
  }
  &__all-wrap {
    margin-top: 70.03px;
  }
  &__icon {
    margin-top: 48px;
  }
  &__text {
    margin-top: 32px;
  }
  &__name {
    margin-top: 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33;
    color: black;
  }
  &__dots {
    margin-top: 60px;
  }
  &__dot {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 100%;
    background-color: #bad1ff;
    cursor: pointer;
    &_active {
      background-color: var(--blue);
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__back {
    position: absolute;

    &-one {
      width: 353px;
      height: 361px;
      left: -48px;
      bottom: -9px;
      z-index: -1;
    }
    &-two {
      max-width: 546px;
      height: 409px;
      left: -76px;
      bottom: -40px;
      z-index: -2;
    }
  }
}
