.description {
  padding: 40px 0 44px 0;
  &__video {
    overflow: hidden;
    position: relative;
  }
  &__img {
    max-width: 730px;
    height: 520px;
  }
  &__block {
    padding-top: 40px;
    padding-bottom: 36px;
    background-color: var(--gray-back);
  }
  &__text {
    &-wrap {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.57;
      color: var(--gray);
      margin-top: 24px;
    }
  }
  &__elem {
    position: relative;
    margin-top: 12px;
    &::before {
      content: url("../../img/description/Ellipse.png");
      position: absolute;
      left: -20px;
      transform: translateX(-50%);
    }
    &:first-child {
      margin-top: 0;
    }
  }
  &__item-list {
    padding-left: 36px;
    margin-top: 12px;
  }
  &__btn {
    margin-top: 24px;
    padding: 12px 20px;
  }
  &__play {
    position: absolute;
    top: 197px;
    left: 169px;
    width: 40px;
    height: 40px;
    background-color: var(--second-green);
    box-shadow: 0px 4px 16px rgba(75, 202, 103, 0.56);
    border: 2px solid white;
    border-radius: 100%;
    fill: white;
    transition: 0.09s all;
    &:hover {
      border: 0 solid white;
    }
    &:active {
      border: 0 solid white;
      background-color: var(--dark-green);
      box-shadow: none;
    }
    &-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-36%) translateY(-50%);
    }
  }
}
