.footer {
  padding: 40px 0 24px 0;
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: black;
  }
  &__elem {
    margin-top: 12px;
    &-img {
      max-width: 22px;
      max-height: 22px;
      stroke: black;
      fill: black;
    }
    &-mr {
      margin-right: 18px;
    }
    &-b {
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
    }
    &:first-child {
      margin-top: 0;
    }
  }
  &__list {
    margin-top: 16px;
    &-wrap {
      margin-top: 20px;
    }
    &-soc {
      margin-top: 27px;
    }
    &-bottom {
      margin-top: 24px;
    }
    &-link {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.57;
      text-decoration: none;
      color: var(--gray);
      &-b {
        font-weight: 600;
        font-size: 12px;
      }
    }
  }
  &__bottom {
    &-wrap {
      margin-top: 42px;
      padding-top: 40px;
      font-weight: 600;
      font-size: 12px;
      color: var(--gray);
      line-height: 1.33;
      border-top: 1px solid var(--opacity-gray);
    }
  }
}
