.form {
  &__input {
    display: block;
    margin-top: 10px;
    padding: 14px 12px;
    background: #f3f6fc;
    border-radius: 22px;
    border: none;
    outline: 0;
    outline-offset: 0;
    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      color: $gray;
    }
    &:focus {
      outline: 2px solid #1b63f0;
    }
  }
}
