.form {
  padding: 40px 0 40px 0;
  flex-direction: column;
  &__input {
    display: block;
    margin-top: 16px;
    padding: 14px 12px;
    width: 100%;
    background: #f3f6fc;
    border-radius: 22px;
    border: none;
    outline: 0;
    outline-offset: 0;
    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      color: var(--gray);
    }
    &:focus {
      outline: 2px solid #1b63f0;
    }
  }
}
