.inform {
  padding: 0 0 40px 0;
  background: url("../img/jointBackground/union.png") center 33% no-repeat
    no-repeat;
  &__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }

  &__title {
    margin-top: 22px;
    font-size: 36px;
    line-height: 1.22;
    font-weight: 700;
    color: black;
  }
  &__subtitle {
    margin-top: 32px;
    font-size: 14px;
    line-height: 1.57;
  }
  &__buttons {
    margin-top: 40px;
  }
  &__companies {
    margin-top: 40px;
  }
}
@media (min-width: 1440px) {
  .inform {
    &__container {
      flex-direction: row;
    }
    &__title {
      width: 400px;
      margin-top: 136px;
    }
    &__block {
      margin-right: 54px;
    }
    &__subtitle {
      width: 370px;
    }
    &__companies {
      margin-top: 45.6px;
    }
    &__img {
      width: 500px;
    }
  }
}
