.prefer {
  padding-top: 50px;
  padding-bottom: 40px;
  &__container {
    position: relative;
    margin-top: 40px;
  }
  &__item {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 207px;
    height: 197px;
    z-index: 1;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: white;
    &:nth-child(1) {
      background: url("../../img/prefer/itemBack/first.jpg") center center/cover
        no-repeat;
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      display: none;
    }
    &:nth-child(4) {
      display: none;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    &_blue {
      background-color: rgba(101, 131, 255, 0.8);
    }
  }
}
@media (min-width: 1440px) {
  .prefer {
    &__text {
      width: 660px;
      margin: 0 auto;
      margin-top: 16px;
      text-align: center;
    }
  }
}
