@import "utils/variables";
@import "base/normalize";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
@import "utils/container";
@import "components/logo";
@import "components/btn";
@import "components/slider";
@import "components/companies";
@import "layout/header";
@import "layout/inform";
@import "components/item";
@import "components/text-top";
@import "layout/shoose";
@import "components/price-item";
@import "layout/course";
@import "components/star";
@import "components/item-list";
@import "layout/description";
@import "layout/events";
@import "components/conference";
@import "layout/prefer";
@import "layout/blog";
@import "layout/customer";
@import "layout/start";
@import "components/form";
@import "layout/footer";
@import "utils/helpers";
