$blue: #1b63f0;
$green: #97f5cd;
$gray: #5c5c5c;
$white-gray: #f8fbff;
$second-green: #64be97;
$dark-green: #55b089;
$opacity-gray: #5c5c5c1a;
$text-gray: #838383;
$gray-back: #fbfcff;
$light-blue: #91a3ed;
$img-back: #bfbfbf;
$slider: #64be97;
