.container {
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  margin: 0 auto;
}
// @media (min-width: 576px) {
//   .container {
//     width: 540px;
//   }
// }
// @media (min-width: 768px) {
//   .container {
//     width: 720px;
//   }
// }
// @media (min-width: 992px) {
//   .container {
//     width: 960px;
//   }
// }
// @media (min-width: 1200px) {
//   .container {
//     width: 1140px;
//   }
// }
