@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
:root {
  --blue: #1b63f0;
  --green: #97f5cd;
  --green-header:#82e1b8;
  --gray: #5c5c5c;
  --white-gray: #f8fbff;
  --second-green: #64be97;
  --dark-green: #55b089;
  --light-green: #25de8e;
  --opacity-gray: rgba(92, 92, 92, 0.2);
  --text-gray: #838383;
  --gray-back: #fbfcff;
  --light-blue: #91a3ed;
  --img-back: #bfbfbf;
  --blog-blue: #5d74e4;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
ul,
svg,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
button {
  margin: 0;
  padding: 0;
}

p {
  font-weight: 400;
  font-size: 14px;
}

svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

svg {
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  position: relative;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    position: unset;
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 1024px;
  }
  .container_small {
    padding-right: 0px;
    padding-left: 0px;
    width: 850px;
    margin: 0 auto;
  }
  .container_big {
    padding: 0;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.logo {
  height: 24px;
  width: 53.12px;
  fill: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  cursor: pointer;
}
.logo:hover {
  fill: black;
}

.btn {
  display: block;
  border: none;
  max-height: 40px;
  padding: 12px 20px;
  border-radius: 22px;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, box-shadow, outline;
  color: white;
  cursor: pointer;
}
.btn:first-child {
  margin-right: 24px;
}
.btn_blue {
  background-color: var(--blue);
}
.btn_blue:hover {
  background-color: #3d7fff;
}
.btn_blue:active {
  background-color: #175ee9;
}
.btn__container {
  display: flex;
}
.btn_form {
  padding: 14px 141.5px;
  margin-top: 32px;
  color: white;
  background-color: var(--second-green);
  box-shadow: 0px 4px 16px rgba(75, 202, 103, 0.58);
}
.btn_form:hover {
  background-color: var(--light-green);
}
.btn_form:active {
  background-color: #4dda9d;
}
.btn_green {
  background-color: var(--green);
  color: black;
}
.btn_green:hover {
  background-color: #c0ffe4;
}
.btn_green:active {
  background-color: #83ebbf;
}
.btn_transporent {
  border: 1px solid #ffffff;
}
.btn_transporent:hover {
  background: rgba(255, 255, 255, 0.15);
}
.btn_transporent:active {
  background: rgba(255, 255, 255, 0.15);
  outline: 2px solid #ffffff;
}
.btn_desk {
  display: none;
}

@media (min-width: 768px) {
  .btn {
    padding: 12px 24px;
  }
  .btn_form {
    padding: 14px 44px;
  }
  .btn_mobil {
    display: none;
  }
  .btn_desk {
    display: block;
  }
}
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 16px #e2edfb;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  z-index: 9;
  border: none;
  cursor: pointer;
}
.slider-btn:hover {
  background-color: var(--second-green);
}
.slider-btn:hover .slider-btn__img {
  stroke: white;
}
.slider-btn:active {
  background-color: var(--dark-green);
  box-shadow: none;
}
.slider-btn:active .slider-btn__img {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: stroke;
  stroke: white;
}
.slider-btn_left {
  left: 0;
}
.slider-btn_right {
  right: 0;
}
.slider-btn__img {
  width: 10px;
  height: 16px;
  stroke: var(--second-green);
  margin: 0 auto;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: stroke;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.companies__item:nth-child(1) {
  margin-bottom: 16px;
}
.companies__item:nth-child(2) {
  margin-bottom: 16px;
}

@media (min-width: 1440px) {
  .companies__item:nth-child(1) {
    margin-bottom: 0;
  }
  .companies__item:nth-child(2) {
    margin-bottom: 0;
  }
}
.header {
  padding: 24px 0 14px 0px;
  top: 0;
  z-index: 10;
}
.header__fix {
  padding: 14px 0 14px 0px;
  background-color: var(--green-header);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__back {
  position: absolute;
  right: 0;
  top: -24px;
  height: 314px;
  z-index: -1;
  width: 100%;
  background: url("../img/header/back-green.svg") right top/contain no-repeat;
}
.header__nav-wrapper {
  display: flex;
}
.header__nav-container {
  display: flex;
  justify-content: space-between;
}
.header__cross {
  position: relative;
  margin-right: 8px;
}
.header__cross-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__cross-item:first-child {
  transform: rotate(45deg);
}
.header__cross-item:last-child {
  transform: rotate(-45deg);
  margin-top: 0;
}
.header__link {
  display: inline-block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.header__humburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
  cursor: pointer;
}
.header__humburger-item {
  width: 20px;
  display: inline-block;
  background-color: var(--blue);
  height: 2px;
  margin-top: 4px;
  border-radius: 24px;
}
.header__humburger-item:nth-child(1) {
  margin-top: 0;
}
.header__humburger-item_black {
  background-color: black;
}
.header__logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header__list {
    width: 100%;
    margin-top: 62px !important;
  }
  .header__back {
    height: 450px;
  }
  .header__nav {
    padding: 32px 24px;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 4;
    top: -24px;
    left: 0;
    transform: translateX(-100%);
  }
  .header__nav_active {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
    transform: translateX(0);
  }
  .header__link {
    text-decoration: none;
    padding: 32px 0;
    color: black;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
  }
  .header__link:hover {
    color: var(--blue);
  }
  .header__elem:nth-child(2n) {
    border-top: 1px solid rgba(61, 126, 255, 0.1215686275);
  }
  .header__elem:nth-child(2n+1) {
    border-top: 1px solid rgba(61, 126, 255, 0.1215686275);
    border-bottom: 1px solid rgba(61, 126, 255, 0.1215686275);
  }
  .header__elem:first-child, .header__elem:last-child {
    border-top: none;
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
  }
  .header__nav-container {
    display: none;
  }
  .header__back {
    top: -63.95px;
    height: 450px;
  }
  .header__humburger {
    display: none;
  }
  .header__elem {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
  }
  .header__link {
    text-decoration: none;
    color: white;
  }
  .header__link:hover {
    color: var(--blue);
  }
  .header__list {
    display: flex;
    gap: 20px;
    margin-right: 40px !important;
  }
}
@media (min-width: 1440px) {
  .header__back {
    height: 652px;
    right: -295px;
  }
  .header__container {
    width: 850px;
  }
}
.inform {
  position: relative;
  padding: 0 0 40px 0;
}
.inform__container {
  display: flex;
  flex-direction: column-reverse;
}
.inform__back {
  position: absolute;
  right: 0;
  top: -77.95px;
  height: 314px;
  z-index: -1;
  width: 100%;
  background: url("../img/header/back-green.svg") right top/contain no-repeat;
}
.inform__title {
  margin-top: 22px;
  font-size: 36px;
  line-height: 1.22;
  font-weight: 700;
  color: black;
}
.inform__img {
  transform: scale(1.1);
}
.inform__subtitle {
  margin-top: 32px;
  font-size: 14px;
  line-height: 1.57;
}
.inform__buttons {
  margin-top: 40px;
}
.inform__companies {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .inform__img {
    transform: unset;
  }
  .inform__container {
    flex-direction: row;
  }
  .inform__title {
    width: 320px;
    margin-top: 81px;
  }
  .inform__block {
    margin-right: 35px;
  }
  .inform__subtitle {
    width: 300px;
  }
  .inform__companies {
    margin-top: 40px;
  }
  .inform__img {
    width: 350px;
  }
}
@media (min-width: 1440px) {
  .inform__title {
    width: 400px;
    margin-top: 136px;
  }
  .inform__block {
    margin-right: 54px;
  }
  .inform__subtitle {
    width: 370px;
  }
  .inform__companies {
    margin-top: 24px;
  }
  .inform__img {
    width: 500px;
  }
}
.item {
  margin-top: 20px;
}
.item:first-child {
  margin-top: 0;
}
.item svg {
  display: block;
  margin: 0 auto;
}
.item__img {
  display: block;
  margin: 0 auto;
  fill: var(--blue);
}
.item__title {
  text-align: center;
  margin-top: 18px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  color: black;
}
.item__subtitle {
  text-align: center;
  margin-top: 7px;
  font-size: 14px;
  line-height: 1.57;
}

@media (min-width: 320px) {
  .item__subtitle_pc {
    display: none;
  }
}
@media (min-width: 375px) {
  .item__subtitle_pc {
    display: none;
  }
}
@media (min-width: 768px) {
  .item {
    margin: 0;
  }
  .item__title, .item__subtitle {
    text-align: center;
  }
  .item__subtitle {
    width: 325px;
  }
  .item__subtitle_mob {
    display: none;
  }
  .item__subtitle_pc {
    display: block;
  }
  .item svg {
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .item__title, .item__subtitle {
    text-align: left;
  }
  .item__subtitle {
    width: 415px;
  }
  .item svg {
    margin: 0;
  }
}
.text-top__title {
  margin-right: 24px;
  max-width: 243px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  color: black;
}
.text-top__wrap {
  display: flex;
  align-items: flex-end;
}
.text-top__wrap_c {
  justify-content: center;
}
.text-top__wrap::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: var(--blue);
  margin-bottom: 10px;
}
.text-top__subtitle {
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--blue);
  margin-bottom: 6px;
}
.text-top__text {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--gray);
  text-align: center;
}

@media (min-width: 768px) {
  .text-top__title {
    max-width: 354px;
  }
}
.shoose {
  padding: 40px 0;
}
.shoose__wrapper-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.shoose__text-top {
  margin-bottom: 56px;
}

@media (min-width: 768px) {
  .shoose {
    padding-bottom: 35px;
  }
  .shoose__wrapper-item {
    gap: 42px 20px;
  }
  .shoose__text-top {
    margin-bottom: 57.5px;
  }
}
@media (min-width: 1440px) {
  .shoose {
    padding-bottom: 70px;
  }
  .shoose__wrapper-item {
    justify-content: start;
    gap: 42px 20px;
  }
  .shoose__text-top {
    margin-bottom: 57.5px;
  }
}
.price-item {
  display: block;
  position: relative;
  border-radius: 8px;
  min-height: 364px;
  min-width: 264px;
  padding: 243px 16px 20px 16px;
  color: #ffffff;
  text-decoration: none;
  z-index: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}
.price-item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: -1;
}
.price-item__img {
  position: absolute;
  left: 16px;
  top: 0px;
  transform: translateY(-50%);
  border-radius: 100%;
  width: 48px;
  height: 48px;
}
.price-item__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  text-overflow: ellipsis;
}
.price-item__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 8px;
}
.price-item__line {
  height: 1px;
  background: #ffffff;
  opacity: 0.3;
  margin: 0 -16px;
  margin-top: 16px;
}
.price-item__price {
  margin-right: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
}
.price-item__price-old {
  text-decoration: line-through;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  opacity: 0.7;
}
.price-item__price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-item__bottom-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.price-item:hover {
  box-shadow: 0px 6px 20px rgba(27, 99, 240, 0.4);
}

.course {
  padding: 40px 0;
}
.course__title {
  text-align: center;
  margin: 0;
  max-width: 100%;
}
.course__subtitle {
  text-align: center;
}
.course__wrapper {
  margin-top: 54px;
  position: relative;
}
.course__slider-btn_left {
  left: -16px;
}
.course__slider-btn_right {
  right: -16px;
}
.course__item {
  width: 265px !important;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .course {
    padding-top: 35px;
  }
  .course__wrapper {
    margin-top: 28px;
  }
  .course__item {
    width: 270px !important;
  }
}
@media (min-width: 1440px) {
  .course {
    padding-top: 70px;
  }
}
.rating {
  display: flex;
  align-items: flex-end;
}
.rating__body {
  position: relative;
}
.rating__body:before {
  content: "★★★★★";
  display: block;
  color: white;
}
.rating__active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rating__active:before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fdd22f;
}

.item-list {
  margin: 0;
  list-style-type: none;
}
.item-list__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 18.67px;
  padding-bottom: 24px;
  color: var(--text-gray);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
}
.item-list__container_center {
  justify-content: center;
}
.item-list__container_white {
  color: var(--img-back);
}
.item-list_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-list__date {
  margin-right: 26px;
}
.item-list__city {
  margin-top: 8px;
}
.item-list__img {
  stroke: var(--text-gray);
  margin-right: 8px;
}
.item-list__img_white {
  stroke: var(--img-back);
}
.item-list .calendar {
  height: 18px;
  width: 19px;
}
.item-list .clock {
  width: 19px;
  height: 19px;
}
.item-list .map {
  width: 19px;
  height: 19px;
}

@media (min-width: 1440px) {
  .item-list__city {
    margin-top: 0;
  }
  .item-list__city-sm {
    margin: 0;
    margin-top: 9px;
  }
  .item-list__date {
    margin-right: 25.6px;
  }
  .item-list__date-sm {
    margin-right: 25.6px;
  }
  .item-list__time {
    margin-right: 26.5px;
  }
  .item-list__time-sm {
    margin: 0;
  }
}
.description {
  padding: 40px 0 44px 0;
}
.description__video {
  overflow: hidden;
  position: relative;
}
.description__img {
  max-width: 730px;
  height: 520px;
}
.description__block {
  padding-top: 40px;
  padding-bottom: 36px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--gray-back);
}
.description__wrap {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--gray);
  margin-top: 24px;
}
.description__elem {
  position: relative;
  margin-top: 12px;
}
.description__elem::before {
  content: url("../img/description/Ellipse.png");
  position: absolute;
  left: -20px;
  transform: translateX(-50%);
}
.description__elem:first-child {
  margin-top: 0;
}
.description__item-list {
  padding-left: 36px;
  margin-top: 12px;
}
.description__btn {
  margin-top: 24px;
  padding: 12px 20px;
}
.description__play {
  position: absolute;
  top: 197px;
  left: 169px;
  width: 40px;
  height: 40px;
  background-color: var(--second-green);
  box-shadow: 0px 4px 16px rgba(75, 202, 103, 0.56);
  border: 2px solid white;
  border-radius: 100%;
  fill: white;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border, background-color, box-shadow;
}
.description__play:hover {
  border: 0 solid white;
}
.description__play:active {
  border: 0 solid white;
  background-color: var(--dark-green);
  box-shadow: none;
}
.description__play-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-36%) translateY(-50%);
}

@media (min-width: 768px) {
  .description {
    padding-bottom: 30px;
  }
  .description__wrapper {
    display: flex;
  }
  .description__block {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
  }
  .description__wrap-text {
    width: 380px;
  }
  .description__item-list {
    width: 380px;
  }
}
@media (min-width: 1440px) {
  .description {
    padding-bottom: 50px;
  }
  .description__wrapper {
    display: flex;
  }
  .description__video {
    margin-right: 87px;
  }
  .description__block {
    padding-top: 56px;
    padding-bottom: 66px;
    background-color: transparent;
  }
  .description__wrap-text {
    width: 415px;
  }
  .description__item-list {
    width: 415px;
  }
}
.events {
  padding-bottom: 50px;
}
.events__container {
  padding-top: 40px;
  background-color: var(--gray-back);
}
.events__timetable {
  padding: 0 24px;
}
.events__item-list {
  margin-top: 32px;
  padding-bottom: 40px;
}
.events__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}
.events__elem {
  border-bottom: 1px solid var(--opacity-gray);
  margin-top: 40px;
}
.events__elem:first-child {
  margin: 0;
}
.events__conference {
  padding: 0 24px;
  background-color: #fff9f1;
  position: relative;
}

@media (min-width: 768px) {
  .events {
    padding-bottom: 40px;
  }
  .events__container {
    display: flex;
    justify-content: end;
    padding-top: 0;
  }
  .events__conference {
    padding: 24px 24px;
  }
  .events__timetable {
    padding: 45px 40px 40px 24px;
  }
  .events__elem {
    padding-right: 10px;
  }
  .events__item-list {
    padding-bottom: 0;
  }
  .events__name {
    width: 321px;
  }
}
@media (min-width: 1440px) {
  .events {
    padding-bottom: 40px;
  }
  .events__container {
    display: flex;
    justify-content: end;
    padding-top: 0;
  }
  .events__conference {
    padding: 60px 98px 76px 20px;
  }
  .events__timetable {
    padding: 68px 107px 76px 208px;
  }
  .events__elem {
    padding-right: 75px;
  }
  .events__name {
    width: 427px;
  }
}
.conference {
  padding-top: 40px;
  padding-bottom: 60px;
}
.conference__title {
  margin-left: -8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: 0.4em;
  color: #f6f2e9;
}
.conference__wrap {
  margin-top: 41px;
}
.conference__numbers {
  margin-right: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
}
.conference__numbers_blue {
  color: var(--light-blue);
}
.conference__numbers_yellow {
  color: #f0c41b;
}
.conference__numbers_red {
  color: #fe5f60;
}
.conference__days {
  margin-right: 43.33px;
}
.conference__hours {
  margin-right: 54.33px;
}
.conference__text {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--gray);
}
.conference__content {
  padding: 224px 24px 0 24px;
  margin-top: 25px;
  max-width: 328px;
  height: 380px;
  background: url("../img/course/itemBack/first.jpg") center center/cover no-repeat;
  border-radius: 8px;
}
.conference__overlay {
  padding: 24px 16px 40px 16px;
  max-width: 280px;
  max-height: 156px;
  background-color: rgba(0, 0, 0, 0.8);
}
.conference__name {
  padding: 0 12px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  text-overflow: ellipsis;
}
.conference__btn {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}

@media (min-width: 1440px) {
  .conference__title {
    font-size: 60px;
  }
  .conference__content {
    margin-left: 71px;
    margin-top: 40px;
  }
  .conference__wrap {
    margin-left: 71px;
    margin-top: 27px;
  }
  .conference__btn {
    margin-left: 71px;
  }
}
.prefer {
  padding-top: 50px;
  padding-bottom: 40px;
}
.prefer__container {
  position: relative;
  margin-top: 40px;
}
.prefer__slider-btn-l {
  left: -13px;
}
.prefer__slider-btn-r {
  right: -13px;
}
.prefer__label {
  position: relative;
}
.prefer__name {
  text-align: center;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.prefer__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 14px 20px 14px 12px;
  background-color: #f3f6fc;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--grey);
  border: none;
  border-radius: 22px;
}
.prefer__arrow-down {
  border: solid black;
  border-width: 0 2.2px 2.2px 0;
  display: inline-block;
  padding: 3.5px;
  margin-bottom: 3px;
  transform: rotate(45deg);
}
.prefer__list {
  display: none;
  margin: 0 auto;
  width: 200px;
  padding: 0px 1px;
  list-style-type: none;
  box-shadow: 0px 4px 11px rgba(29, 31, 34, 0.1);
  border-radius: 22px;
  z-index: 2;
}
.prefer__list_show {
  display: block;
}
.prefer__list-item {
  padding: 8px 12px;
  font-weight: 400;
  font-size: 16px;
  color: #72757e;
  line-height: 1.25;
  cursor: pointer;
}
.prefer__list-item:hover {
  background: #f3f6fc;
  border-radius: 11px;
  color: var(--blue);
}
.prefer__item {
  margin: 0 auto;
  position: relative;
  padding: 8px;
  width: 197px;
  height: 197px;
  display: flex;
  flex: 0 0 197px;
  z-index: 1;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: white;
  box-shadow: 0px 7px 20px #e2edfb;
}
.prefer__item-box {
  display: flex;
  justify-content: start;
  transition: 350ms transform;
}
.prefer__item:nth-child(1) {
  background: url("../img/prefer/itemBack/first.jpg") center center/cover no-repeat;
}
.prefer__item:nth-child(2) {
  display: none;
}
.prefer__item:nth-child(3) {
  display: none;
}
.prefer__item:nth-child(4) {
  display: none;
}
.prefer__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.prefer__overlay_blue {
  background-color: rgba(101, 131, 255, 0.8);
}
.prefer__overlay_yellow {
  background-color: rgba(240, 199, 45, 0.8);
}
.prefer__overlay_violet {
  background-color: rgba(148, 87, 243, 0.8);
}
.prefer__overlay_red {
  background-color: rgba(254, 95, 96, 0.8);
}

@media (min-width: 768px) {
  .prefer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .prefer__slider-btn-l {
    left: 0;
  }
  .prefer__slider-btn-r {
    right: 0;
  }
  .prefer__text {
    width: 660px;
    margin: 0 auto;
    margin-top: 16px;
    text-align: center;
  }
  .prefer__item {
    margin: 0;
  }
  .prefer__item-box {
    gap: 20px;
  }
  .prefer__item:nth-child(2) {
    display: flex;
    background: url("../img/prefer/itemBack/second.jpg") center center/cover no-repeat;
  }
}
@media (min-width: 1440px) {
  .prefer {
    padding-bottom: 40px;
  }
  .prefer__slider-btn-l {
    left: -35px;
  }
  .prefer__slider-btn-r {
    right: -35px;
  }
  .prefer__text {
    width: 660px;
    margin: 0 auto;
    margin-top: 16px;
    text-align: center;
  }
  .prefer__item-wrap {
    width: 850px;
    margin: 0 auto;
    overflow: hidden;
  }
  .prefer__item-box {
    gap: 20px;
    width: 100%;
  }
  .prefer__item:nth-child(2) {
    display: flex;
    background: url("../img/prefer/itemBack/second.jpg") center center/cover no-repeat;
  }
  .prefer__item:nth-child(3) {
    display: flex;
    background: url("../img/prefer/itemBack/third.jpg") center center/cover no-repeat;
  }
  .prefer__item:nth-child(4) {
    display: flex;
    background: url("../img/prefer/itemBack/fourth.jpg") center center/cover no-repeat;
  }
}
.blog {
  padding: 80px 0 40px 0;
}
.blog__wrap {
  margin-top: 117px;
}
.blog__wrap-left {
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog__wrap-item {
  padding: 18px 0 24px 12px;
  margin-top: -48px;
  margin-bottom: 44px;
  max-width: 415px;
  background-color: #d6fae7;
  border-radius: 16px 16px 0px 16px;
  animation: 1s cubic-bezier(0.4, 0, 0.2, 1) show;
}
.blog__wrap-item:last-child {
  margin-bottom: 0;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.blog__name {
  margin-bottom: 46px;
  font-weight: 700;
  font-size: 12px;
  color: var(--blog-blue);
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: upright;
}
.blog__person-img {
  border-radius: 100%;
  max-width: 48px;
  height: 48px;
}
.blog__img {
  height: 160px;
  transform: translateY(-48px);
}
.blog__img:first-child {
  background: url("../img/blog/item/laptop.jpg") center center/cover no-repeat;
}
.blog__text {
  width: 311px;
  padding-right: 40px;
  margin-top: -24px;
  font-weight: 600;
  font-size: 16px;
  color: black;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog__more {
  display: inline-block;
  margin-top: 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  text-decoration: none;
  color: black;
}
.blog__list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--blog-blue);
  margin-top: 14px;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}
.blog__list-wrap {
  overflow: hidden;
  width: 305px;
  margin: 0 auto;
  padding: 10px 7px;
}
.blog__elem {
  margin-right: 22px;
}
.blog__elem:last-child {
  margin-right: 0;
}
.blog__btn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: transparent;
  border: none;
  color: #5d74e4;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow, border;
}
.blog__btn:hover {
  box-shadow: 0px 4px 16px #e2edfb;
}
.blog__btn:active {
  border: 1px solid #64be97;
  box-shadow: none;
}
.blog__btn_active {
  border: 1px solid #64be97;
  box-shadow: 0px 4px 16px #e2edfb;
}

@media (min-width: 768px) {
  .blog__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
  }
  .blog__wrap-elements {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 68px;
  }
  .blog__wrap-left {
    margin-right: 24px;
  }
  .blog__wrap-item {
    margin-bottom: 0;
  }
  .blog__wrap-item:first-child {
    margin-right: 107px;
  }
  .blog__wrap-item:nth-child(2) {
    display: none;
  }
  .blog__list {
    display: unset;
    margin-top: 0;
    width: 60px;
  }
  .blog__list-wrap {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    margin: 0;
    max-height: 282px;
    width: unset;
    overflow: hidden;
  }
  .blog__elem {
    margin-right: 0;
    margin-top: 18px;
  }
  .blog__elem:first-child {
    margin-top: 0;
  }
}
@media (min-width: 1440px) {
  .blog__wrap {
    justify-content: space-between;
    margin-top: 55px;
  }
  .blog__wrap-elements {
    margin-right: 107px;
  }
  .blog__wrap-item {
    padding-left: 16px;
  }
  .blog__wrap-item:first-child {
    margin-right: 20px;
  }
  .blog__wrap-item:nth-child(2) {
    display: flex;
  }
}
.customer {
  padding: 40px 0 100.34px 0;
  overflow: hidden;
}
.customer__container {
  position: relative;
}
.customer__wrapper {
  position: relative;
}
.customer__img, .customer__square {
  width: 273.03px;
  height: 273.03px;
  border-radius: 24px;
}
.customer__img {
  transform: translate(53.97px, 46.03px);
  background: url("../img/customer/people.jpg") center center/cover no-repeat;
  z-index: 1;
}
.customer__square {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #637af2;
  z-index: -1;
}
.customer__all-wrap {
  margin-top: 70.03px;
}
.customer__icon {
  margin-top: 48px;
}
.customer__text {
  margin-top: 32px;
}
.customer__name {
  margin-top: 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  color: black;
}
.customer__dots {
  margin-top: 60px;
}
.customer__dot {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 100%;
  background-color: #bad1ff;
  cursor: pointer;
}
.customer__dot_active {
  background-color: var(--blue);
}
.customer__dot:last-child {
  margin-right: 0;
}
.customer__back {
  position: absolute;
}
.customer__back-one {
  width: 353px;
  height: 361px;
  left: -48px;
  bottom: -109.34px;
  z-index: -1;
}
.customer__back-two {
  max-width: 546px;
  height: 409px;
  left: -70px;
  bottom: -130px;
  z-index: -2;
}

@media (min-width: 768px) {
  .customer {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .customer__title {
    max-width: 150px;
  }
  .customer__icon {
    margin-top: 28px;
  }
  .customer__wrapper {
    display: flex;
  }
  .customer__img {
    margin-right: 95px;
  }
  .customer__text {
    width: 330px;
  }
  .customer__all-wrap {
    margin-top: 0;
  }
  .customer__back-one {
    width: 455.77px;
    height: 465.46px;
    left: -179px;
    bottom: -60px;
  }
  .customer__back-two {
    max-width: 736.04px;
    height: 536.78px;
    left: -207px;
    bottom: -80px;
  }
  .customer__img, .customer__square {
    width: 230px;
    height: 230px;
  }
}
@media (min-width: 1440px) {
  .customer {
    padding-top: 140px;
    padding-bottom: 191.4px;
  }
  .customer__wrapper {
    display: flex;
  }
  .customer__img {
    margin-right: 178px;
  }
  .customer__text {
    width: 415px;
  }
  .customer__all-wrap {
    margin-top: 0;
  }
  .customer__back-one {
    width: 515.77px;
    height: 525.46px;
    left: -179px;
    bottom: -74px;
  }
  .customer__back-two {
    max-width: 796.04px;
    height: 596.78px;
    left: -207px;
    bottom: -114px;
  }
  .customer__img, .customer__square {
    width: 344px;
    height: 344px;
  }
}
.start {
  position: relative;
  padding: 40px 0 40px 0;
  background: url("../img/start/background/image.jpg") center center/cover no-repeat;
  z-index: 1;
}
.start__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 82, 156, 0.95);
  z-index: -1;
}
.start__subtitle {
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.33;
  color: #ffffff;
}
.start__title {
  max-width: 100%;
  color: var(--green);
  margin-top: 8px;
}
.start__text {
  color: #ffffff;
  margin-top: 24px;
  text-align: left;
}
.start__btn-container {
  margin-top: 44px;
}
.start__link-wrap {
  margin-top: 56px;
  color: #ffffff;
}
.start__link-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38px;
}
.start__elem {
  padding-bottom: 13px;
  margin-top: 13px;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.start__item-list {
  margin-top: 25px;
}
.start__item-img {
  margin-right: 15px;
}
.start__item-img_mr {
  margin-right: 10.06px;
}

@media (min-width: 768px) {
  .start {
    padding: 64px 0;
  }
  .start__link-wrap {
    margin-top: 0;
  }
  .start__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .start__text {
    width: 345px;
  }
  .start__elem {
    padding-right: 50px;
  }
}
@media (min-width: 1440px) {
  .start__container {
    align-items: unset;
  }
  .start__text {
    width: 415px;
  }
  .start__elem {
    padding-right: 207.39px;
  }
}
.form {
  padding: 40px 0 40px 0;
  flex-direction: column;
}
.form__input {
  display: block;
  margin-top: 16px;
  padding: 14px 12px;
  width: 100%;
  background: #f3f6fc;
  border-radius: 22px;
  border: none;
  outline: 0;
  outline-offset: 0;
}
.form__input::placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray);
}
.form__input:focus {
  outline: 2px solid #1b63f0;
}

@media (min-width: 768px) {
  .form__input {
    width: 420px;
  }
}
.footer {
  padding: 40px 0 24px 0;
}
.footer__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}
.footer__elem {
  margin-top: 12px;
}
.footer__elem-img {
  max-width: 22px;
  max-height: 22px;
  stroke: black;
  fill: black;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke, fill;
}
.footer__elem-img:hover {
  stroke: var(--green);
  fill: var(--green);
}
.footer__elem-mr {
  margin-right: 18px;
}
.footer__elem-b {
  margin-top: 20px;
}
.footer__elem-b:first-child {
  margin-top: 0;
}
.footer__elem:first-child {
  margin-top: 0;
}
.footer__wrap-list {
  margin-top: 20px;
}
.footer__wrap-bottom {
  margin-top: 42px;
  padding-top: 40px;
  font-weight: 600;
  font-size: 12px;
  color: var(--gray);
  line-height: 1.33;
  border-top: 1px solid var(--opacity-gray);
}
.footer__list {
  margin-top: 16px;
}
.footer__list-soc {
  margin-top: 27px;
}
.footer__list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  text-decoration: none;
  color: var(--gray);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.footer__list-link:hover {
  color: var(--green);
}
.footer__list-link-b {
  margin-top: 24px;
  font-weight: 600;
  font-size: 12px;
}
.footer__list-link-b:hover {
  color: var(--blue);
}

@media (min-width: 768px) {
  .footer__img {
    margin-right: 0px;
  }
  .footer__list {
    margin-top: 16px;
  }
  .footer__list-bottom {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
  }
  .footer__elem-b {
    margin-top: 0;
  }
  .footer__wrap-list {
    margin-top: 0;
    margin-right: 0px;
  }
  .footer__wrap-top {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .footer__wrap-bottom {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 42px -15px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .footer__img {
    margin-right: 121px;
  }
  .footer__list {
    margin-top: 16px;
  }
  .footer__list-bottom {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
  }
  .footer__elem-b {
    margin-top: 0;
  }
  .footer__wrap-list {
    margin-right: 57px;
  }
  .footer__wrap-top {
    justify-content: center;
  }
  .footer__wrap-bottom {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 42px -50px;
    margin-bottom: 0;
  }
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_out-just {
  display: flex;
  align-items: center;
}
.flex_start-j {
  display: flex;
  justify-content: start;
  align-items: center;
}
.flex_justify-c {
  display: flex;
  justify-content: center;
}
.flex_center-a {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.flex_start {
  display: flex;
  justify-content: start;
  align-items: start;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--gray);
}

p {
  color: var(--gray);
}

*:hover,
:active,
:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slick-track {
  padding-top: 50px;
  padding-bottom: 50px;
}

.slick-slide {
  margin: 0 10px;
}

.slick-list {
  padding: 0 15px !important;
  margin: 0 auto !important;
}

@media (min-width: 320px) {
  .slick-list {
    max-width: 270px;
  }
}
@media (min-width: 375px) {
  .slick-list {
    max-width: 295px;
  }
}
@media (min-width: 768px) {
  .slick-list {
    max-width: 590px;
  }
}
@media (min-width: 1440px) {
  .slick-list {
    max-width: 880px;
  }
}/*# sourceMappingURL=style.css.map */