.prefer {
  padding-top: 50px;
  padding-bottom: 40px;
  &__container {
    position: relative;
    margin-top: 40px;
  }
  &__slider {
    &-wrap {
      margin-top: 20px;
    }
    &-btn {
      &-left {
        left: -13px;
      }
      &-right {
        right: -13px;
      }
    }
  }
  &__label {
    position: relative;
    margin-top: 10px;
  }
  &__name {
    text-align: center;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__button {
    margin-bottom: 8px !important;
  }

  &__item {
    padding: 8px;
    width: 197px;
    height: 197px;
    flex: 0 0 197px;
    &-wrap {
      width: 197px;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    &_blue {
      background-color: rgba(101, 131, 255, 0.8);
    }
    &_yellow {
      background-color: rgba(240, 199, 45, 0.8);
    }
    &_violet {
      background-color: rgba(148, 87, 243, 0.8);
    }
    &_red {
      background-color: rgba(254, 95, 96, 0.8);
    }
  }
}

@media (min-width: 768px) {
  .prefer {
    padding-top: 40px;
    padding-bottom: 40px;
    &__slider {
      &-btn {
        &-left {
          left: 0;
        }
        &-right {
          right: 0;
        }
      }
    }
    &__text {
      width: 660px;
      margin: 0 auto;
      margin-top: 16px;
      text-align: center;
    }
    &__item {
      &-wrap {
        width: 414px;
      }

      &-box {
        gap: 20px;
      }
    }
  }
}
@media (min-width: 1440px) {
  .prefer {
    padding-bottom: 40px;
    &__slider {
      &-btn {
        &-left {
          left: -35px;
        }
        &-right {
          right: -35px;
        }
      }
    }
    &__text {
      width: 660px;
      margin: 0 auto;
      margin-top: 16px;
      text-align: center;
    }
    &__item {
      &-wrap {
        width: 850px;
      }
      &-box {
        gap: 20px;
        width: 100%;
      }
    }
  }
}
