.price-item {
  display: block;
  position: relative;
  border-radius: 8px;
  min-height: 364px;
  min-width: 264px;
  padding: 243px 16px 20px 16px;
  color: #ffffff;
  text-decoration: none;
  z-index: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: -1;
  }
  &__img {
    position: absolute;
    left: 16px;
    top: 0px;
    transform: translateY(-50%);
    border-radius: 100%;
    width: 48px;
    height: 48px;
  }
  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    text-overflow: ellipsis;
  }
  &__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 8px;
  }
  &__line {
    height: 1px;
    background: #ffffff;
    opacity: 0.3;
    margin: 0 -16px;
    margin-top: 16px;
  }
  &__price {
    margin-right: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    &-old {
      text-decoration: line-through;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.33;
      opacity: 0.7;
    }
    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__bottom {
    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
    }
  }
  &:hover {
    box-shadow: 0px 6px 20px rgba(27, 99, 240, 0.4);
  }
}
