.header {
  padding: 24px 0 14px 0px;
  top: 0;
  z-index: 10;

  &__fix {
    padding: 14px 0 14px 0px;
    background-color: var(--green-header);
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__back {
    position: absolute;
    right: 0;
    top: -24px;
    height: 314px;
    z-index: -1;
    width: 100%;
    background: url("../img/header/back-green.svg") right top/contain no-repeat;
  }
  &__nav {
    &-wrapper {
      display: flex;
    }
    &-container {
      display: flex;
      justify-content: space-between;
    }
  }
  &__cross {
    position: relative;
    margin-right: 8px;
    &-item {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
        margin-top: 0;
      }
    }
  }
  &__link {
    display: inline-block;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  &__humburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    cursor: pointer;
    &-item {
      width: 20px;
      display: inline-block;
      background-color: var(--blue);
      height: 2px;

      margin-top: 4px;
      border-radius: 24px;
      &:nth-child(1) {
        margin-top: 0;
      }
      &_black {
        background-color: black;
      }
    }
  }

  &__logo {
    &-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header {
    &__list {
      width: 100%;
      margin-top: 62px !important;
    }
    &__back {
      height: 450px;
    }
    &__nav {
      padding: 32px 24px;
      position: absolute;
      height: 100vh;
      width: 100vw;
      background-color: white;
      z-index: 4;
      top: -13px;
      left: 0;
      transform: translateX(-100%);
      &_active {
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: transform;
        transform: translateX(0);
      }
    }
    &__link {
      text-decoration: none;
      padding: 32px 0;
      color: black;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.38;

      &:hover {
        color: var(--blue);
      }
    }
    &__elem {
      &:nth-child(2n) {
        border-top: 1px solid #3d7eff1f;
      }
      &:nth-child(2n + 1) {
        border-top: 1px solid #3d7eff1f;
        border-bottom: 1px solid #3d7eff1f;
      }
      &:first-child,
      &:last-child {
        border-top: none;
        border-bottom: none;
      }
    }
  }
}
@media (min-width: 375px) {
}
@media (min-width: 768px) {
  .header {
    &__nav {
      display: flex;
      align-items: center;
      &-container {
        display: none;
      }
    }
    &__back {
      top: -63.95px;
      height: 450px;
    }
    &__humburger {
      display: none;
    }
    &__elem {
      font-weight: 600;
      font-size: 12px;
      line-height: 1.33;
    }
    &__link {
      text-decoration: none;
      color: white;

      &:hover {
        color: var(--blue);
      }
    }

    &__list {
      display: flex;
      gap: 20px;
      margin-right: 40px !important;
    }
  }
}
@media (min-width: 1440px) {
  .header {
    &__back {
      height: 652px;
      right: -295px;
    }
    &__container {
      width: 850px;
    }
  }
}
