:root {
  --blue: #1b63f0;
  --green: #97f5cd;
  --green-header:#82e1b8;
  --gray: #5c5c5c;
  --white-gray: #f8fbff;
  --second-green: #64be97;
  --dark-green: #55b089;
  --light-green: #25de8e;
  --opacity-gray: rgba(92, 92, 92, 0.2);
  --text-gray: #838383;
  --gray-back: #fbfcff;
  --light-blue: #91a3ed;
  --img-back: #bfbfbf;
  --blog-blue: #5d74e4;
}
