.form {
  padding: 40px 0 40px 0;
  flex-direction: column;
  margin: 0 auto;
  &__label {
    margin-top: 7px;
    margin-bottom: 7px;
    height: 16px;
    color: #f15b5b;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
  &__input {
    display: block;
    padding: 14px 12px;
    width: 100%;
    background: #f3f6fc;
    border-radius: 22px;
    border: none;
    outline: 0;
    outline-offset: 0;
    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      color: var(--gray);
    }
    &:focus {
      outline: 2px solid #1b63f0;
    }
    &_invalid {
      outline: 2px solid #f15b5b !important;
    }
  }
}
@media (min-width: 768px) {
  .form {
    &__input {
      width: 420px;
    }
  }
}
