.blog {
  &__list {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #5d74e4;
  }
  &__elem {
    margin-right: 38.5px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__btn {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: transparent;
    border: none;
    color: #5d74e4;
    transition: 0.02s all;
    &:hover {
      box-shadow: 0px 4px 16px #e2edfb;
    }
    &:active {
      border: 1px solid #64be97;
      box-shadow: none;
    }
    &_active {
      border: 1px solid #64be97;
      box-shadow: 0px 4px 16px #e2edfb;
    }
  }
}
