@import "colors";
.btn {
  border: none;
  min-width: 96px;
  min-height: 40px;
  padding: 12px 24px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  &:first-child {
    margin-right: 24px;
  }
  &_blue {
    background-color: $blue;
    color: white;
  }
  &__container {
    display: flex;
  }
  &_green {
    background-color: $green;
    color: black;
  }
}
